# Rekentafel reverse proxy for Mac mini hosting
# Start: ./scripts/rekentafel-start.sh (services on host) + docker compose --profile proxy up -d
# Access: http://127.0.0.1:8080

{
	auto_https off
}

:8080 {
	@api path /v1/*
	handle @api {
		reverse_proxy host.docker.internal:3000
	}

	@staff path /staff /staff/*
	handle @staff {
		uri strip_prefix /staff
		reverse_proxy host.docker.internal:5174
	}

	handle {
		reverse_proxy host.docker.internal:5173
	}
}
